<%- include layouts/header.ejs %>
<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row block-9">
      <div class="col-md-6 pr-md-5">
        <h4 class="mb-4">Muy pronto nos pondremos en contacto</h4>
        <div class="form-group">
          <p class="form-group form-control"><%= name %></p>
        </div>
        <div class="form-group">
          <p class="form-group form-control"><%= lastname%></p>
        </div>
        <div class="form-group">
          <p class="form-group form-control"><%= email %></p>
        </div>
        <div class="form-group">
          <p class="form-group form-control"><%= number %></p>
        </div>
        <div class="form-group">
          <p class="form-group form-control"><%= nacimiento %></p>
        </div>
        <div class="form-group">
          <textarea name="" id="" cols="30" rows="7" disabled class="form-control" placeholder="Message"><%= message %></textarea>
        </div>
      </div>
      <img class="col-md-6" src="https://thumbs.dreamstime.com/b/vector-icon-message-sent-successfully-simple-flat-design-mail-symbol-153069474.jpg"></>
    </div>
  </div>
</section>
<%- include layouts/footer.ejs %>